@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
}

body,
html {
    height: 100vh;
    width: 100%;
    overflow: hidden !important;
    background: linear-gradient(40deg, #ff0080, #ffd900);
    background-size: 400%;
    animation: bg 12s linear infinite;
}

@keyframes bg {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

h1 {
    font-size: 120px;
    text-align: center;
    margin-top: 80px;
    text-shadow: 7px 8px #afafaf7a;
}

button {
    border: none;
    outline: none;
    &:active {
        outline: none;
    }
}

#calcField {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    .calcField_tf {
        position: relative;
        left: 15%;
        width: 60%;
        font-size: 40px;
        border: none;
        outline: none;
        padding: 3px 5px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        transition: .4s;
        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0.3);
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    .errorfield {
        position: relative;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.562);
        left: 16%;
        width: 80%;
        &:first-child {
            margin-bottom: 20px;
        }
    }
}


/*
*
* This is for the currencies (dropdown) you can select"
*
*/

.curr {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4px 10px;
    position: relative;
    display: inline-block;
    transition: .4s;
    border-radius: 8px;
    right: -15%;
    min-width: 5%;
    outline: none;
    border: none;
    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.6);
    }
    option {
        background: transparent !important;
        &:hover {
            background: rgba(0, 0, 0, 0.6) !important;
        }
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        position: relative;
        font-size: 80px;
        margin-top: 20px;
    }
    .errorfield {
        left: 5.5%;
    }
    .calcField_tf {
        left: 5% !important;
        width: 70% !important;
    }
    .curr {
        right: -5%;
        width: 20%;
    }
}

#slide {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    #rangeInput {
        width: 200px;
        box-sizing: border-box;
        height: 4px;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        outline: none;
        display: block;
    }
    #amount {
        position: relative;
        font-size: 35px;
        margin-left: 10px;
        left: 40%;
    }
}